{% extends 'base.html' %}

{% block styles %}
<style>
    body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
    .messages-box {
      flex: 1;
      overflow-y: auto; /* Добавляем возможность вертикальной прокрутки */
      padding: 15px; /* Добавляем немного отступа для прокрутки */
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 15px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
    }

    .sent {
      background-color: #3b9c9c; /* Цвет отправленного сообщения */
      align-self: flex-end;
    }

    .received {
      background-color: #523737; /* Цвет полученного сообщения */
      align-self: flex-start;
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #3b3b3b; /* Цвет формы сообщения */
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
      background-color: #2c2c2c; /* Цвет поля ввода */
      color: #ffffff; /* Цвет текста в поле ввода */
    }

    .btn-send {
      border-radius: 0;
      background-color: #3b9c9c; /* Цвет кнопки отправки */
      border: none;
      color: #ffffff; /* Цвет текста на кнопке */
    }

    .chat-container {
      height: 100%;
      display: flex;
      background-color: #2c2c2c; /* Цвет поля ввода */
      flex-direction: column;
    }

    .card-header {
  background-color: #361b03 !important; /* Используем !important, чтобы переопределить другие стили */
  color: #ffd700 !important;
  font-family: 'Grenze', serif !important;
  font-size: 24px !important;
  padding: 10px 20px !important;
  border-bottom: 2px solid #ffd700 !important;
}

    .card-body {
      background-color: #3b3b3b; /* Цвет тела карточки */
    }

    /* Дополнительные стили для оформления */
    .card {
      border: none;
      border-radius: 10px;
    }
</style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header bg-primary text-white">Диалоговое окно</div>
    {% if user.is_authenticated %}
  <div class="card-header bg-primary text-white" style="display: flex; justify-content: space-between;">
    <b>Приветствую, {{user.username}}</b>
    <a style="color: yellow;" href="logout">Выйти</a>
  </div>
  {% else %}
  <div class="card-header bg-primary text-white"><a style="color: yellow" href="login">Login</a>   <a style="color: yellow;" href="register">Register</a></div>
  {% endif %}
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
        <!-- <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hi {{user.username}}, I am your AI Chatbot, you can ask me anything.
            </div>
          </div>
        </li> -->

        {% for chat in chats %}
          {% if chat.user == request.user %}

            <li class="message sent">
          <div class="message-text">
            <div class="message-sender">
              <b>You</b>
            </div>
            <div class="message-content">
              {{chat.message}}
            </div>
          </div>
        </li>

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              {{chat.response}}
            </div>
          </div>
        </li>

          {% endif %}
        {% endfor %}
        
      </ul>
      
    </div>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Накорябать на бересте">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Смолвить</button>
      </div>
    </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Вы</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>Гейм Мастер Вэн</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });
  });

</script>
{% endblock %}
