{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #2c2c2c; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font-family: 'Roboto', sans-serif; /* Шрифт */
  }

  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    max-width: 400px;
    background-color: #523737; /* Цвет карточки */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  }

  .card-header {
    background-color: #361b03; /* Цвет заголовка карточки */
    color: #ffd700; /* Цвет текста заголовка */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px; /* Поля внутри заголовка */
    border-top-left-radius: 10px; /* Скругление верхних углов */
    border-top-right-radius: 10px;
  }

  .card-body {
    padding: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffd700; /* Цвет текста меток */
  }

  input[type=text], input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #3b3b3b; /* Цвет поля ввода */
    color: #ffffff; /* Цвет текста в поле ввода */
  }

  button[type=submit] {
    background-color: #3b9c9c; /* Цвет кнопки отправки */
    color: #ffffff; /* Цвет текста на кнопке */
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button[type=submit]:hover {
    background-color: #2c7a7a; /* Цвет кнопки при наведении */
  }

  .alert-danger {
    background-color: #523737; /* Цвет блока с сообщением об ошибке */
    color: #ffd700; /* Цвет текста сообщения об ошибке */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffd700; /* Цвет рамки сообщения об ошибке */
    border-radius: 4px;
  }
</style>
{% endblock %}


{% block content %}
<div class="register-container">
  <div class="card">
    <div class="card-header">Register</div>
    <div class="card-body">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Имя персонажа</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">История вашего персонажа</label>
          <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password1">Пароль</label>
          <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="form-group">
          <label for="password2">Повторите пароль</label>
          <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
